<% @user ||= current_user %>
<div class = "stats">
  <a href = "<%= relationships_path user_id: @user.id, type: "following" %>">
    <strong id = "following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href = "<%= relationships_path user_id: @user.id, type: "followers" %>">
    <strong id = "followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
